/* Add CSS styling here */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
/* This is the open sans font used in the body */

/*below is the site reset. I wanted to try it out and have a bigger challenge*/
 /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain) */

/* 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} */
HTML5 display-role reset for older browsers
/* article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}  */

This is the end of the text reset
/* ---- */


*{
  border:solid 1px;
}

.cc{
  display:flex;
  flex-direction: row;
}

header{
  background-color:#A4DBD9;
}
nav a{
  text-decoration: none;
  color:white;
  padding:1%;
  /* border:solid black;just here to see where the border is */
}
nav{
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: space-around;
  font-size:20px;
}

h1{
  font-size:40px;
  padding-left: 5%;
}
.moveButton{
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;  
  align-items: center;
}
#home:hover{
  background-color:#DBA4A6;
  
}

#about:hover{
  background-color:#BDA4DB
}

#contact:hover{
  background-color:#C2DBA4;
}

#project:hover{
  background-color:#DBA4A6;
}
 #mainImg{
   height:21rem;   
    /* width:50%;  */
  /* display:inline-flex; */
  display:inline-block;
  flex-direction:row;
  justify-content: flex-start;
  margin-top:20px;
  margin-left:4%; 

}

.centerinfo{
  display: flex;
  flex-direction:row;
  flex-wrap:wrap; 
  /* justify-content: flex-end; */
  align-items: center;
   padding-bottom:5%; 
}
/* .tag{
  display:flex;
  flex-direction: column;
  flex-wrap:wrap;
 justify-content: space-between;  
 align-items: center;  
 
} */

.info{
  display:flex;
  flex-direction:column;
  flex-wrap:wrap;
 justify-content: flex-end;  
 align-items: center;
 width:60%;
}

.width{
  width:60%;
 
}

.words{
  height:30px;
  display: flex;
  justify-content: space-between;
}

button{
  padding:.5%;
  border:none;
  width: 15rem;
  height:2rem;
  font-family: 'Open Sans Condensed', sans-serif;
  text-size:3.0rem;
}
button:hover{
  background-color:#DBA4A6;
  color:white;
}

.galleryTop{
  display:flex;
  justify-content: space-evenly;
  flex-flow:row wrap;
  padding-bottom: 2%;
}

.galleryBot{
  display:flex;
  justify-content: space-evenly;
  flex-flow:row wrap;
  padding-bottom: 2%;
}
body{
  background-color: #BDA4DB;
  font-family: 'Open Sans Condensed', sans-serif;

}

.ButtonContact:hover{
  background-color:#DBA4A6;
}

h2{
  font-size: 30px;
  text-align: center;
}

footer{
  background-color:#C2DBA4;
  text-align: center;
  align-items: center;
  /*add later if needed*/
  display:flex; 
  flex-direction:column;
 justify-content:center;
 padding:2%; 
}
.zoom{
  transition: transform .2s;
}
.zoom:hover{
  transform: scale(1.5);
}